apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: testing

resources:
  - ../../auth-service
  - ../../tasks-service
  - cloudnative-pg.yaml
  - ingress.yaml
  - networkpolicies.yaml

# Always pull images in testing environment for development
patches:
  - path: deployment-patch.yaml

replicas:
  - name: auth-service
    count: 1
  - name: tasks-service
    count: 1

images:
  - name: auth-service
    newName: ghcr.io/f0x1d/auth-service
    newTag: 1.0.0
  - name: tasks-service
    newName: ghcr.io/f0x1d/tasks-service
    newTag: 1.0.0
