apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: testing

resources:
- ../../auth-service
- ../../tasks-service
- cloudnative-pg.yaml
- ingress.yaml
- networkpolicies.yaml

# Always pull images in testing environment for development
patches:
- path: deployment-patch.yaml

replicas:
- count: 1
  name: auth-service
- count: 1
  name: tasks-service

images:
- name: auth-service
  newName: ghcr.io/f0x1d/auth-service
  newTag: 9bebca9
- name: tasks-service
  newName: ghcr.io/f0x1d/tasks-service
  newTag: 9bebca9
